body{
	background-color:#C3DBAC;
	font:20px Verdana;
	color:#9E948A;
}

#wrapper{
	width:650px;
	margin:30px auto;
	background-color:#F4F4F4;
}

#header{
	height:75px;
	background-image:url(images/redHeader.png);
	position:relative;
}

#content{
	padding:20px 30px;
}


/*#container{
	position:absolute;
	width:400px;
	height:300px;
	background-color:#8AC5FC;
	top:0;
	right:0;
} 
картинка была вложена в див с айди контейнер
*/

/*если элемент с абс позиционированием находится в элементе также
 с абс позиционированием , то он начинает
позиционироваться относительноно своего родителя !!!!*/


#new{
	position:absolute;
	top:0;
	left:0;
}
#button{
	position:absolute;
	left:294;
	top:-14;/*высота была 28, чтобы половина выходила за пределы ставим отрицательное значение(половину)*/
}

#operator{
	position:fixed;
	width:22px;
	height:180px;
	top:250px;
	left:0;
}

#operator img{
	border:none;/*любые картинки в операторе без рамок*/
}